// import react toastify styles
@import 'toastify';

@font-face {
  font-family: 'DinPro';
  font-weight: 300;
  src: url('/fonts/DINPRO-Light.ttf');
}

@font-face {
  font-family: 'DinPro';
  font-weight: 500;
  src: url('/fonts/DINPRO-Medium.ttf');
}

@font-face {
  font-family: 'DinPro';
  font-weight: 700;
  src: url('/fonts/DINPRO-Bold.ttf');
}

html,
body {
  background: rgb(246, 249, 252);
  margin: 0;
}

* {
  font-family: 'DinPro';

  &:active {
    outline: none;
  }
}

.container {
  width: 91.67%;
  height: 100%;
  margin: 0 auto;

  &.flex-vertical {
    display: flex;
    flex-direction: column;
  }
}
