@font-face {
  font-family: 'DinPro';
  font-weight: 300;
  src: url('../../assets/fonts/DINPRO-Light.ttf');
}

@font-face {
  font-family: 'DinPro';
  font-weight: 500;
  src: url('../../assets/fonts/DINPRO-Medium.ttf');
}

@font-face {
  font-family: 'DinPro';
  font-weight: 700;
  src: url('../../assets/fonts/DINPRO-Bold.ttf');
}

html {
  background: rgb(246, 249, 252);
}

* {
  font-family: 'DinPro';
}
