$palette: (
  primary: #3359DB,
  secondary: #FFAF30,
  light: #2956E3,
  lighter: #6487FF,
  dark: #3359DB,
  danger: red,
);

$text-colors: (
  header: #333E44,
  table-header: #999,
  content: #333E44,
  navbar: #BCBCBC,
  navbar-active: #0459E4,
  user-name: #838383,
);

$grey: (
  100: #FFF,
  200: #F4F8F9,
  300: #D4D4D4,
  400: #BCBCBC,
  500: #999,
  600: #838383,
  700: #333E44,
  800: #323C47,
);

$boxshadow: 0.0625rem 0.3125rem 1rem 0 rgba(0, 0, 0, 0.19);
