@import '~sass-rem';
@import '../../assets/scss/variables';

.header-row {
  display: flex;
  align-items: center;
}

.asset-tag {
  font-size: rem(24px);
  font-weight: 300;
  color: map-get($text-colors, header);
  opacity: 0.8;
}
