@import '../../assets/scss/variables';

.navigation-bar {
  position: relative;
  background-color: map-get($palette, 100);
  width: 90rem;
  height: 8.625rem;
  box-shadow: 0 0.125rem 0.625rem 0 rgba(0, 0, 0, 0.1);
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 6.875rem;
  }

  .logo {
    background-color: map-get($palette, primary);
    width: 2rem;
    height: 2rem;
  }

  .logo-name {
    font-family: Dinpro;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 2.375rem;
    color: map-get($palette, primary);
  }

  .right-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 28.125rem;
  }

  .search-bar {
    display: flex;
    justify-content: space-between;
    width: 14rem;
    height: 2rem;
    margin-right: 1.5625rem;
    border: 0.0625rem solid rgba(188, 188, 188, 0.4);
    border-radius: 1.875rem;
    outline: none;
  }

  .search-icon {
    margin-right: 0.5rem;
  }

  .search-input {
    box-sizing: border-box;
    background: transparent;
    height: inherit;
    padding: 0.3125rem 0.9375rem;
    border: 0;
    outline: none;
  }

  .notification-bell {
    box-sizing: border-box;
    width: 1.25rem;
    margin-right: 1.5625rem;
  }

  .profile-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .profile-pic {
    width: 2.125rem;
    height: 2.125rem;
  }

  .profile-name {
    width: 6.3125rem;
    height: 1.4375rem;
    margin: 0 0.625rem;
    font-family: Dinpro;
    font-size: 1.125rem;
    font-weight: 100;
    line-height: 1.4375rem;
    color: map-get($text-colors, user-name);
  }

  .drop-down-icon {
    color: map-get($grey, 400);
  }
}

.top-nav,
.bottom-nav {
  flex: 1;
}

.line {
  position: absolute;
  top: 50%;
  left: 0.625rem;
  width: 98.61vw;
  border: 0.03125rem solid rgba(212, 212, 212, 0.5);
}

.bottom-nav {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;

  .bottom-navlist {
    width: 300px;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .overview-icon {
    width: 20px;
    height: 20px;
    margin-bottom: -3px;
    padding-right: 9px;
  }

  .settings-icon {	
    height: 22px;
    width: 22px;
    margin-bottom: -3px;
    padding-right: 9px;
  } 
}

.bottom-navlist {
  li {
    display: flex;
    align-items: center;
  }

  a {
    width: 4.1875rem;
    font-family: Dinpro;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 2.5rem;
    text-decoration: none;
    color: map-get($grey, 400);
  }
}

.dynamic-content {
  margin-top: 2.375rem !important;
}
